h1 {
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

body {
    background-color: bisque;
    margin: 50px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    width: 100%;
    text-align: center;
}

img:hover {
    background-color: blue;
    transition: background-color 1s;
}


/*Clases*/

.broccoli{
    background-color: darkgreen;
    width: 150px;
}

.bacon {
    background-color: chocolate;
    width: 150px;
}

.circle{
    border-radius: 100%;
}

/* IDs */

#heading{
    background-color: coral;
}